div(ng-controller="HeatmapController" ng-swipe-right="onSwipeRight($event)" ng-swipe-left="onSwipeLeft($event)").font-color.fade-in
  h1.title.fade-in: a(ng-href="#/") Precog
  h2.sub-title.fade-in neighborhood intelligence

  div.stage(ng-class="user.riskLevel")
  div.loading(ng-show="loading")

  br
  div.risk-level.fade-in(ng-class="{offscreen : !init}")
    h2.risk-label City Heatmap

  .heatmap
    div(ng-map zoom="12" center="{{user.lat}},{{user.lng}}" ng-if="user.lat")
    fusion-tables-layer(query="{ select: 'loc/1', from: '{{mapKey[hour]}}',where {{'loc/1' > user.lat - 0.1}} AND {{'loc/1' < user.lat + 0.1}} AND {{'loc/0' > user.lng - 0.1}} AND {{'loc/0' < user.lng + 0.1}} }",heatmap = "{enabled: true}")
    div(ng-map zoom="10" center="33.45,-112.02" ng-if="!user.lat")
    fusion-tables-layer(query="{ select: 'loc/1', from: '{{mapKey[hour]}}',where {{'loc/1' > user.lat - 0.1}} AND {{'loc/1' < user.lat + 0.1}} AND {{'loc/0' > user.lng - 0.1}} AND {{'loc/0' < user.lng + 0.1}} }",heatmap = "{enabled: true}")

  //- a.nav.nav-back(ng-href="#/")
  //-   i.fa.fa-chevron-left
  //-   i.fa.fa-chevron-left
  //-   |  back
