<!-- The Modal -->
a#how.how how did we come up with this risk level?
div#howModal.modal
  <!-- Modal content -->
  div.modal-content
    span.close X
    p Some text in the Modal..
    p Some text in the Modal..
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iusto deleniti magnam totam amet laudantium, voluptatibus qui odio quia nulla incidunt quas cum, autem harum fugiat voluptatum. Facilis repellendus, eum.