<!-- The Modal -->
a#how.how 
  i.fa.fa-question-circle(ng-click="howModal")
div#howModal.modal(ng-class="{'show-modal': howModal }")
  <!-- Modal content -->
  div.modal-content
    span.close(ng-click="!howModal") X
    p Some text in the Modal..
    p Some text in the Modal..
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iusto deleniti magnam totam amet laudantium, voluptatibus qui odio quia nulla incidunt quas cum, autem harum fugiat voluptatum. Facilis repellendus, eum.