div(ng-controller="TypeController" ng-swipe-right="onSwipeRight($event)" ng-swipe-left="onSwipeLeft($event)").font-color.fade-in
  h1.title.fade-in: a(ng-href="#/") Precog
  h2.sub-title.fade-in neighborhood intelligence

  div.stage(ng-class="user.riskLevel")
  div.loading(ng-show="loading")

  br
  div.risk-level.fade-in(ng-class="{offscreen : !init}")
    h2.risk-label Most prevalent crime
    p {{highestCrimeType}}
    canvas#highestCrimeType.chart.chart-line(chart-data="highestCrimeTypeData"
      chart-labels="crimeType" chart-series="typeSeries" chart-options="chartOptions"
      chart-click="chartClick")

  a.nav.nav-back(ng-href="#/")
    i.fa.fa-chevron-left
    i.fa.fa-chevron-left
    |  back
