div(ng-controller="NIController").font-color.fade-in
  div.stage(ng-class="riskLevel")
  div.loading(ng-show="loading")
  
  div(ng-show="user.declinedLocation")
    h1 NO LOCATION!

  br
  h2.weight-max.time.fade-in(ng-show="init && !user.declinedLocation")
    i.fa.fa-minus-square(aria-hidden="true" ng-click="setTime(-1)")
    span#time {{ time | date:'h:mm a'}}
    i.fa.fa-plus-square(aria-hidden="true" ng-click="setTime(1)")
  
  div.address.fade-in(ng-show="init")
    p {{user.formattedAddress}}  
  
  div.risk-level.fade-in(ng-show="init")
    h2.risk-label Risk level
    p {{riskText}}
    
    //-include ./../../components/modal/_default.jade
  
  div.risk-level.fade-in(ng-show="init")
    h2.risk-label.fade-in Most likely crime
    p.t2 {{mostLikely}}
    
  a.nav.nav-more(ng-href="#/more") 
    | more  
    i.fa.fa-arrow-right
 