div(ng-controller="NIController").font-color.fade-in
  
  div.stage(ng-class="riskLevel")
  
  div.loading(ng-show="loading")
  
  br

  div.manual-location.fade-in(ng-show="user.declinedLocation")
    h2 Enter location
    p: small The more detailed the address the better the data
    form(ng-submit="submitManualInput()")
      input(type="text" placeholder="Something Google will understand" ng-model="user.manualLocation")
      button.btn(type="submit") submit
  
  h2.weight-max.time.fade-in(ng-show="init && !user.declinedLocation")
    i.fa.fa-minus-square(aria-hidden="true" ng-click="setTime(-1)")
    span#time {{ time | date:'h:mm a'}}
    i.fa.fa-plus-square(aria-hidden="true" ng-click="setTime(1)")
  
  div.address.fade-in(ng-show="init && !user.declinedLocation" ng-click="user.declinedLocation = true")
    p {{user.formattedAddress}}  
  
  div.risk-level.fade-in(ng-show="init && !user.declinedLocation")
    h2.risk-label Risk level
    p {{riskText}}
    
    //-include ./../../components/modal/_default.jade
  
  div.risk-level.fade-in(ng-show="init && !user.declinedLocation")
    h2.risk-label.fade-in Most likely crime
    p.t2 {{mostLikely}}
    
  a.nav.nav-more(ng-href="#/more" ng-show="init && !user.declinedLocation") 
    | more  
    i.fa.fa-arrow-right
 