div(ng-controller="NIController").font-color.fade-in
  h2.weight-max.time
    i.fa.fa-minus-square(aria-hidden="true" ng-click="setTime(-1)")
    span#time {{ niTime | date:'h:mm a'}}
    i.fa.fa-plus-square(aria-hidden="true" ng-click="setTime(1)")
  div.address
    p {{formattedAddress}}
  h2.risk-label risk level
  div.risk-level
    p {{riskText}}
    include ./../../components/modal/_default.jade
  div.rec-crime-box
    h3.weight-max Most likely crime right now is:
    h1 {{mostLikely}}
    a(ng-href="#/more")
      span.nav-more more >>