div(ng-controller="MoreController").font-color.fade-in
  div.recent-crime-list
    h3.weight-max Day of highest crime
    div.align-left
      p {{highestDay}}
    h3.weight-max time of highest crime
    div.align-left
      p {{highestTime}}
  a(ng-href="#/")
    span.nav-back << back
<!--font color-->
div.col-half
  canvas.charts#dayChart(width="165" height="180")
div.col-half
  canvas.charts#timeChart(width="165" height="180")
canvas.charts#typeChart(width="270" height="250")