
<div ng-controller="HeatmapController" ng-swipe-right="onSwipeRight($event)" ng-swipe-left="onSwipeLeft($event)" class="font-color fade-in">
  <h1 class="title fade-in"><a ng-href="#/">Precog</a></h1>
  <h2 class="sub-title fade-in">neighborhood intelligence</h2>
  <div ng-class="user.riskLevel" class="stage"></div>
  <div ng-show="loading" class="loading"></div><br/>
  <div ng-class="{offscreen : !init}" class="risk-level fade-in">
    <h2 class="risk-label">City Heatmap</h2>
  </div>
  <div ng-map="ng-map" zoom="11" center="{{user.lat}},{{user.lng}}" ng-if="user.lat">
    <fusion-tables-layer query="{ select: 'latitude', from: '{{mapKey[hour]}}'}" heatmap="{enabled: true}"></fusion-tables-layer>
  </div>
  <div ng-map="ng-map" zoom="10" center="33.45,-112.02" ng-if="!user.lat">
    <fusion-tables-layer query="{ select: 'latitude', from: '{{mapKey[hour]}}'}" heatmap="{enabled: true}"></fusion-tables-layer>
  </div><a ng-href="#/" class="nav nav-back"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i> back</a>
</div>