
<div ng-controller="HeatmapController" ng-swipe-right="onSwipeRight($event)" ng-swipe-left="onSwipeLeft($event)" class="font-color fade-in">
  <h1 class="title fade-in"><a ng-href="#/">Precog</a></h1>
  <h2 class="sub-title fade-in">neighborhood intelligence</h2>
  <div ng-class="user.riskLevel" class="stage"></div>
  <div ng-show="loading" class="loading"></div><br/>
  <div ng-class="{offscreen : !init}" class="risk-level fade-in">
    <h2 class="risk-label">City Heatmap</h2>
  </div>
  <div class="heatmap">
    <div ng-map="ng-map" zoom="12" center="{{user.lat}},{{user.lng}}" ng-if="user.lat"></div>
    <fusion-tables-layer query="{ select: 'loc/1', from: '{{mapKey[hour]}}',where {{'loc/1' &gt; user.lat - 0.1}} AND {{'loc/1' &lt; user.lat + 0.1}} AND {{'loc/0' &gt; user.lng - 0.1}} AND {{'loc/0' &lt; user.lng + 0.1}} }" heatmap="{enabled: true}"></fusion-tables-layer>
    <div ng-map="ng-map" zoom="10" center="33.45,-112.02" ng-if="!user.lat"></div>
    <fusion-tables-layer query="{ select: 'loc/1', from: '{{mapKey[hour]}}',where {{'loc/1' &gt; user.lat - 0.1}} AND {{'loc/1' &lt; user.lat + 0.1}} AND {{'loc/0' &gt; user.lng - 0.1}} AND {{'loc/0' &lt; user.lng + 0.1}} }" heatmap="{enabled: true}"></fusion-tables-layer>
  </div>
</div>