extends ./layouts/layout

block vars
  -var page = 'home'
  -var bgLow= 'index'
block title
  title Phoenix Safe Tip

block content
  h1.title Phoenix Safe Tip
  h2.sub-title neighborhood intelligence
  div(ng-view)

 