extends ./layouts/layout

block vars
  -var page = 'home'
  -var bgLow= 'index'
block title
  title Phoenix Precog - A geospatial crime app

block content
  h1.title.fade-in Precog
  h2.sub-title.fade-in neighborhood intelligence
  div(ng-view)

 