extends ./layouts/layout

block vars
  -var page = 'home'
  -var bgLow= 'index'
block title
  title Phoenix Precog - A geospatial crime app

block content
  div(ng-view)
  i#left.fa.fa-chevron-left
  span.center
    i#one.fa.fa-circle
    i#two.fa.fa-circle
  i#right.fa.fa-chevron-right.pull-right
 