extends ./layouts/layout

block vars
  -var page = 'home'
  -var bgLow= 'index'
block title
  title Phoenix Precog - A geospatial crime app

block content
  div(ng-view)
  span(ng-controller="IndexController")
    //i#left.fa.fa-chevron-left(ng-hide="location =='/'")
    span.center
      i#one.fa.fa-circle(ng-class="{ 'black': location =='/' }")
      i#two.fa.fa-circle(ng-class="{ 'black': location =='/more' }")
      i#three.fa.fa-circle(ng-class="{ 'black': location =='/type' }")
      i#four.fa.fa-circle(ng-class="{ 'black': location =='/heatmap' }")
    
 