extends ./layouts/layout

block vars
  -var page = 'home'
  -var bgLow= 'index'
block title
  title Phoenix Precog - A geospatial crime app

block content
  div(ng-view)
  span(ng-controller="IndexController")
    i#left.fa.fa-chevron-left(ng-hide="location =='/'")
    span.center
      p {{location}}
      i#one.fa.fa-circle(ng-class="{ 'black': location =='/' }")
      i#two.fa.fa-circle(ng-class="{ 'black': location =='/more' }")
    i#right.fa.fa-chevron-right.pull-right(ng-hide="location =='/more'")
 