extends ./layouts/layout

block vars
  -var page = 'home'
  -var bgLow= 'index'
block title
  title Phoenix Precog - A geospatial crime app

block content
  div(ng-view)
  span(ng-controller="IndexController" class="pager fade-in" ng-show="user.lat")
    span.center
      i.fa.fa-circle(ng-class="{ 'active': location =='/' }")
      i.fa.fa-circle(ng-class="{ 'active': location =='/more' }")
      i.fa.fa-circle(ng-class="{ 'active': location =='/type' }")
      i.fa.fa-circle(ng-class="{ 'active': location =='/heatmap' }")
    
 