extends ./layouts/layout

block vars
  -var page = 'home'
  -var bgLow= 'index'
block title
  title Phoenix Precog - A geospatial crime app

block content
  div(ng-view)
  span(ng-controller="IndexController" class="pager")
    //i#left.fa.fa-chevron-left(ng-hide="location =='/'")
    span.center
      i.fa.fa-circle(ng-class="{ 'black': location =='/' }")
      i.fa.fa-circle(ng-class="{ 'black': location =='/more' }")
      i.fa.fa-circle(ng-class="{ 'black': location =='/type' }")
      i.fa.fa-circle(ng-class="{ 'black': location =='/heatmap' }")
    
 